IG_USERNAME=""
IG_PASSWORD=""

AWS_REGION="us-east-1"

SMTP_USER="AKIA44W7GAJN5GLCX3BY"
SMTP_PASS="BNNF528uFGtm0BL+Apb5uKXqKLYg3O6H5tkysXBmBYef"
SMTP_HOST="email-smtp.us-east-1.amazonaws.com"
SMTP_PORT=587
SENDER_EMAIL="anam@bbin.in"
RECEIVER_EMAIL="anam@bbin.in"
