IG_USERNAME=""
IG_PASSWORD=""

AWS_ACCESS_KEY_ID="YOUR_AWS_ACCESS_KEY"
AWS_SECRET_ACCESS_KEY="YOUR_AWS_SECRET_KEY"
AWS_REGION="us-east-1"

SMTP_USER="YOUR_SMTP_USERNAME"
SMTP_PASS="YOUR_SMTP_PASSWORD"
SMTP_HOST="email-smtp.us-east-1.amazonaws.com"
SMTP_PORT=587
SENDER_EMAIL="anam@bbin.in"
RECEIVER_EMAIL="anam@bbin.in"
